BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
AlignEscapedNewlines: DontAlign
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
Cpp11BracedListStyle: false
