# Forcefully mark all source and header files as C to avoid false positives.
*.c linguist-language=C
*.h linguist-language=C

# Explicitly block CMake detection.
CMakeLists.txt linguist-detectable=false