[submodule "lib/toolkit"]
	path = lib/toolkit
	url = https://github.com/nitrix/toolkit
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb