[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/nitrix/glad
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/incbin"]
	path = lib/incbin
	url = https://github.com/graphitemaster/incbin/
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "lib/toolkit"]
	path = lib/toolkit
	url = https://github.com/nitrix/toolkit
[submodule "docs/gltf-tutorials"]
	path = docs/gltf-tutorials
	url = https://github.com/KhronosGroup/glTF-Tutorials
[submodule "docs/gltf"]
	path = docs/gltf
	url = https://github.com/KhronosGroup/glTF
[submodule "docs/gl"]
	path = docs/gl
	url = https://github.com/BSVino/docs.gl
